<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/products/<%= Product._id %>?_method=PUT" method="POST">
        <input type="text" name="name" placeholder="Product name" value="<%= Product.name %>">
        <input type="number" name="price" placeholder="Product price" value="<%= Product.price %>">
         <select name="category" id="">
             <option value="fruits" <%= Product.category==='fruits' ? 'selected': '' %>>fruits</option>
             <option value="vegetables">vegetables</option>
             <option value="dairy">dairy</option>
        </select>
        <button>Submit</button>
</body>
</html>