<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products</title>
</head>
<body>
    <h1>All products</h1>
    <ul>
        <% for(var i=0; i < Products.length; i++) { %>
        <li>Product name - <a href="/products/<%=Products[i]._id%>"> <%= Products[i].name %> </a> </li>
        <% } %>  
    </ul>
</body>
</html>