<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>
<body>
    <h1>Add a Product</h1>
    <form action="/products" method="POST">
       <input type="text" name="name" placeholder="Product name">
       <input type="number" name="price" placeholder="Product price">
        <select type="text" name="category" id="">
            <option value="fruits">fruits</option>
            <option value="vegetables">vegetables</option>
            <option value="dairy">dairy</option>
       </select>
       <button>Submit</button>
    </form>
</body>
</html>